<script async data-uid="d7ff5e6f9c" src="https://artisanal-maker-2992.kit.com/d7ff5e6f9c/index.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5NKS8L44FE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5NKS8L44FE');
</script>

<script type="application/ld+json">
{
  "@context": "https://tainanplayback.org",
  "@type": "Organization",
  "name": "南飛．嚼事一人一故事劇團",
  "url": "https://tainanplayback.org/",
  "address": {
    "addressLocality": "台南市",
    "addressCountry": "TW"
  }
}
</script>